@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

:root{
    --backgroud-color: #201b2c;
    --second-color:#2F2841;
    --text-color: #77ffc0;
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Noto sans";
    background-color: var(--backgroud-color);
}

main {
    display: flex;
}

h1 {
    color: var(--text-color);
}

.left-login {
    width: 50vw;
}

.left-login > h1 {
    padding: 2rem;
    font-size: 2.5rem;
}

img {
    margin-top: -4rem;
    width: 50vw;
    height: 90vh;
}

.login {
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    width: 30vw;
    height: 60vh;
    padding: 3rem;
    background-color: #2f284186;
    border-radius: 2rem;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.356);
    text-align: left;
}

input {
    padding: 1rem;
    border-radius: 2rem;
    border: none;
    background-color: #2F2841;
    margin-top: 2rem;
    width: 100%; 
    box-sizing: border-box; 
}

a {
    text-decoration: none;
    color: var(--text-color);
}

button {
    width: 100%; 
    padding: 1rem;
    border-radius: 1rem;
    border: none;
    background-color: #77ffc0;
    margin-top: 1rem;
    font-weight: 800;
    box-sizing: border-box; 
}

button:hover {
    cursor: pointer;
    box-shadow: 1px 1px 10px var(--text-color);
}


/* Para telas (mais de 1024px) */
@media screen and (min-width: 1024px) {
    form {
        width: 37vw;
        height: 53vh;
    }

    img {
        width: 45vw;
        height: 85vh;
    }
}

/* Para telas  (entre 768px e 1023px) */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .left-login, .login {
        width: 100%;
    }

    img {
        width: 100%;
        height: auto;
        margin-top: 0;
    }

    form {
        width: 50vw;
        height: auto;
        padding: 2rem;
    }

    button {
        width: 100%;
    }

    input {
        width: 100%;
    }
}

/* Para telas (menos de 768px) */
@media screen and (max-width: 767px) {
    main {
        flex-direction: column;
    }

    .left-login, .login {
        width: 100%;
    }

    img {
        width: 100%;
        height: auto;
        margin-top: 0;
    }

    form {
        width: 80vw;
        height: auto;
        padding: 1rem;
    }

    button {
        width: 100%;
    }

    input {
        width: 100%;
    }

    h1 {
        font-size: 1.8rem;
        text-align: center;
    }

    .left-login > h1 {
        padding: 1rem;
        font-size: 2rem;
    }
}
