@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

:root{
    --backgroud-color: #201b2c;
    --second-color:#2F2841;
    --text-color: #77ffc0;
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Noto Sans", sans-serif;
    background-color: var(--backgroud-color); 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: var(--text-color); 
}

.container {
    display: flex;
    width: 90vw;
    height: 90vh;
    background-color: #2f2841; 
    border-radius: 2rem;
    overflow: hidden;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.2); 
}

.sidebar {
    width: 30%;
    background-color: #4b435e; 
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.sidebar h2 {
    margin-bottom: 2rem;
    text-align: center;
    font-size: 2rem;
}

form label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

form input {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1.5rem;
    border-radius: 1rem;
    border: none;
    background-color: #2F2841;
    color: white;
    font-size: 1rem;
    box-sizing: border-box;
}

form input::placeholder {
    color: #bbbbbb;
}

form button {
    width: 100%;
    padding: 1rem;
    background-color: #77ffc0;
    color: black;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #5fd2a0;
}

.content {
    width: 70%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

a{
    width: 100%;
    padding: 1rem;
    text-decoration: none;
    text-align: center;
    background-color: #77ffc0;
    color: black;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

a:hover {
    background-color: #5fd2a0;
}

canvas {
    background-color:#cec9dace ;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
    width: 100%; 
    max-width: 500px; 
    height: auto; 
}


@media (max-width: 1023px) {
    .container {
        flex-direction: column;
        height: auto;
    }

    .sidebar {
        width: 100%;
        text-align: center;
        padding: 1.5rem;
    }

    .content {
        width: 100%;
    }
}

@media (max-width: 767px) {
    h1 {
        font-size: 2rem;
    }

    .sidebar h2 {
        font-size: 1.8rem;
    }

    form input, form button {
        font-size: 1rem;
    }
}